html,
body,
.cover,
.project-cover {
    height: 100%;
}

.cover {
    background: url('../images/DSC_0383-2.jpg') left top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    width: 100%;
    padding: 0 50% 0 10%;
    box-shadow: inset 0 0 100px #000;
}

.cover-text {
    text-align: center;
    display: table-cell;
    color: white;
    vertical-align: middle;
}

.cover-text h1 {
    margin: 0;
    font-size: 70px;
    letter-spacing: -3px;
}

nav.bg-dark {
    opacity: 0.8;
    border: none;
}

.navbar-brand {
    padding: 0;
}

section {
    padding: 60px;
}

h2 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 60px;
}

#tech-stack {
    background: url('../images/fan.jpg') top left no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    text-align: center;
}

.img-thumbnail {
    border-radius: 100%;
    height: 120px;
    width: 120px;
    margin-bottom: 20px;
}

.project-cover {
    background: url('../images/DSC_0006.jpg') left top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    width: 100%;
    padding: 0 20%;
    box-shadow: inset 0 0 100px #000;
}

.project-cover__text {
    text-align: center;
    display: table-cell;
    color: white;
    vertical-align: middle;
}

.project-cover__text h1 {
    margin: 0;
    font-size: 70px;
    letter-spacing: -3px;
}

#projects {
    background: url('../images/fan.jpg') top left no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* color: white; */
    text-align: center;
}

.account {
    color: white;
    margin: 60px 0 20px;
}

.row {
    margin-bottom: 20px;
}

.blog-cover {
    background: url('../images/DSC_0434.jpg') left top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    width: 100%;
    padding: 20%;
    box-shadow: inset 0 0 100px #000;
}

.blog-cover__text {
    text-align: center;
    display: table-cell;
    color: white;
    vertical-align: middle;
}

.blog-cover__text h1 {
    margin: 0;
    font-size: 70px;
    letter-spacing: -3px;
}

#blogs {
    background: url('../images/fan.jpg') top left no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* color: white; */
    text-align: center;
}

.blog-image{
    max-width: 600px;
    max-height: 600px;
    margin: 0 50%;
    border-radius: 5px;
}